<!DOCTYPE html>
<html>
<head>
    <title>hifive DashBoard</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="h5container">
        <%- include src/assets/header -%>
        <%- include src/assets/drawer -%>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <!--右側のnest levelと合わせて高さを揃える-->
                        <div class="mdl-cell mdl-cell--12-col">
                            <%- include src/assets/locationCard -%>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <div class="mdl-cell mdl-cell--12-col">
                            <%- include src/assets/mapCard -%>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col ">
                            <%- include src/assets/barChartCard -%>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include src/assets/libs -%>
</body>
</html>
